/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    padding: 0;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #6b7280;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #5A67D8;
}

.overview-hero {
  background-color: #E2E8F0;
  padding: 60px 0;
}

.overview-hero .container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overview-hero-image {
  flex: 1;
  min-width: 300px;
}
.overview-hero-image img {
  border-radius: 10px;
  width: 350px;
  max-width: 100%;
}

.overview-hero-text {
  flex: 1;
  min-width: 300px;
}

.overview-hero-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
}


.overview-hero-text p {
  font-size: 16px;
  line-height: 1.5;
}